@media only screen and (max-width: 480px) {
    /* Styles for smartphones */

    .main {
        overflow: hidden;
    }
    nav {
        margin-left: 70px;
    }
    nav img:first-child {
        left: 10px;
    }
    .burger {
        width: 80px;
    }
    nav h3 {
        left: 50px;
    }
    nav i {
        transform: translateX(0);
        margin-left: 10px;
    }
    .txts_container {
        width: 100%;
        transform: translateX(0);
    }
    .txts_container h1 {
        font-size: 30px;
    }
    .imgs_container {
        width: 100%;
    }
    .container_first,
    .container_second,
    .container_third,
    .container_fourth {
        flex-direction: column;
        margin-left: 70px;
    }
    .little_imgs {
        display: none;
    }
    .main_food,
    .round {
        margin-left: -150px;
    }
    .img_container_sec {
        width: 100%;
        left: 0;
    }
    .img_container_sec img {
        width: 60%;
        top: 200px;
        left: 50px;
    }
    .txt_container_sec {
        width: 100%;
        margin: 20px 0;
    }
    .txt_container_sec h1 {
        font-size: 30px;
    }
    .txt_container_sec p {
        font-size: 14px;
    }
    .side_food img {
        width: 60px;
        height: 60px;
    }
    .main_text {
        transform: translateY(-50px);
    }
    .main_text h1 {
        font-size: 20px;
    }
  
    .icons_services {
        display: flex;
        flex-direction: column;
    }
    .icons_services img {
        width: 50px;
        height: 60px;
        transform: translateX(-50px);
        margin-top: 60px;
    }
    .head_txts {
        display: flex;
        flex-direction: column
    }
    .head_txts h3 {
        margin-top: 80px;
        font-size: 15px;
        transform: translateY(-400px) translateX(50px);
    }
    .foot_txts {
       display: none;
    }
    .foot_txts p:last-child, p:nth-child(2) {
        display: none;
    }
    .cards {
        flex-direction: column;
    }
    .img1 {
        width: 100%;
        height: auto;
    }
    .first_line,
    .second_line {
        flex-direction: column;
    }
    .second_line button {
        margin: 10px 0;
    }
    span img {
    display: block; 
    margin: 0 auto; 
    }
    .txt_third_cont h1 {
        margin-top: 20px;
        font-size: 25px;
    }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Styles for tablets */

    .main {
        overflow: hidden;
    }
    nav img:first-child {
        left: 20px;
    }

    nav h3 {
        left: 50px;
    }

    nav i {
        transform: translateX(0px);
        width: 60px;
    }
    .burger {
        width: 150px;
        margin-left: 120px;
    }
    .little_imgs img {
        display: none;
    }

    .txts_container {
        width: 100%;
        transform: translateX(0);
    }

    .txts_container h1 {
        font-size: 35px;
    }

    .imgs_container {
        width: 100%;
    }

    .container_first,
    .container_second,
    .container_third,
    .container_fourth {
        flex-direction: column;
    }

    .img_container_sec {
        width: 100%;
        left: 0;
    }
    .icons_social i {
        width: 40px;
    }

    .img_container_sec img {
        width: 70%;
        left: 250px;
        top: 40px;
    }

    .txt_container_sec {
        width: 100%;
        margin: 20px 0;
    }

    .txt_container_sec h1 {
        font-size: 40px;
    }

    .txt_container_sec p {
        font-size: 16px;
        line-height: 30px;
    }

    .little_imgs img {
        width: 100%;
        transform: scale(1);
    }

    .side_food img {
        width: 170px;
        height: 170px;
    }

    .main_text {
        transform: translateY(-100px);
    }

    .main_text h1 {
        font-size: 20px;
    }


    .cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);        
    }
  

    .img1 {
        width: 100%;
        height: auto;
    }
    .img1:last-child {
        text-align: center;
        grid-column: span 2;
    }

    .first_line,
    .second_line {
        flex-direction: column;
    }

    .add {
        padding: 8px 11px;
    }

}